@use "src/styles/_mixins.scss" as *;

.buttonModal {
  flex: 1;
  @include screen(med-small) {
    display: none;
  }
  &__toggle {
    margin-left: auto;
    color: var(--cl-white);
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    > svg {
      font-size: 1.2rem;
    }
  }
}
