@use "src/styles/_mixins.scss" as *;

.buttonModal {
  flex: 1;
  justify-content: flex-end;
  color: var(--cl-white);
  background-color: transparent;
  border-style: none;
  @include screen(med-small) {
    display: none;
  }
  > svg {
    font-size: 1.2rem;
  }
}
