@use "src/styles/_mixins.scss" as *;

.header {
  position: sticky;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: var(--sz-header);
  padding: 0 1rem;
  top: 0;
  background-color: var(--cl-primary);
  @include screen(med-small) {
    .menu {
      display: none;
    }
  }
}
